<div class="users-list-container">
  <div class="content-container">
    <div class="top-bar">
      <h1 class="page-title advanced-title">Liste des utilisateurs</h1>
    </div>

    <div class="actions">
      <button class="add-user-btn" (click)="openAddUserModal()">
        <span class="plus-icon">+</span> Ajouter un utilisateur
      </button>
    </div>

    <!-- Success Message for Adding a User -->
    <div *ngIf="isSuccess" class="modal-overlay">
      <div class="modal-container">
        <div class="modal-body">
          <div class="success-content">
            <div class="check-circle">
              <span class="check-icon">✔</span>
            </div>
            <p>L'utilisateur a été ajouté avec succès.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Success Message for Deleting a User -->
    <div *ngIf="isSuccessArchived" class="modal-overlay">
      <div class="modal-container">
        <div class="modal-body">
          <div class="success-content">
            <div class="check-circle">
              <span class="check-icon">✔</span>
            </div>
            <p>L'utilisateur a été archivé avec succès.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Success Message for Modifying a User -->
    <div *ngIf="isSuccessModified" class="modal-overlay">
      <div class="modal-container">
        <div class="modal-body">
          <div class="success-content">
            <div class="check-circle">
              <span class="check-icon">✔</span>
            </div>
            <p>L'utilisateur a été modifié avec succès.</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showArchiveConfirmModal" class="modal-overlay">
      <div class="modal-container">
        <div class="modal-body">
          <div class="confirm-content">
            <div class="warning-icon">⚠️</div>
            <p>Êtes-vous sûr de vouloir archiver cet utilisateur ?</p>
            <div class="confirm-actions">
              <button class="cancel-btn" (click)="cancelArchive()">
                Annuler
              </button>
              <button class="confirm-btn" (click)="confirmArchive()">
                Confirmer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add User Modal -->
    <app-create-user
      *ngIf="showAddUserModal"
      (closeModal)="showAddUserModal = false"
      (addUser)="onUserAdded()"
    >
    </app-create-user>

    <!-- Modify User Modal -->
    <app-modify-user
      *ngIf="showModifyUserModal"
      [user]="selectedUser"
      (close)="closeModifyUserModal()"
      (update)="updateUser($event)"
    >
    </app-modify-user>

    <!-- Users Grid -->
    <div class="users-grid">
      <div class="user-card" *ngFor="let user of usersToDisplay">
        <div class="user-image">
          <img
            [src]="getProfilePhotoUrl(user.profilePhotoPath)"
            [alt]="user.firstName + ' ' + user.lastName"
          />
        </div>
        <div class="user-info">
          <h3 class="username">{{ user.firstName }} {{ user.lastName }}</h3>
          <p class="role">{{ user.role }}</p>
          <p class="email">{{ user.email }}</p>
          <p class="phone">{{ user.phoneNumber }}</p>
        </div>
        <div class="user-actions" *ngIf="!isCurrentUser(user)">
          <button class="edit-btn" (click)="editUser(user.keycloakId)">
            <i class="fas fa-edit"></i>
          </button>

          <button class="delete-btn" (click)="openArchiveConfirmModal(user.id)">
            <i class="fas fa-archive" ></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
      <span>Page</span>
      <button
        class="page-arrow"
        [disabled]="currentPage === 1"
        (click)="goToPage(currentPage - 1)"
      >
        <
      </button>
      <span class="page-number current">{{ currentPage }}</span>
      <button
        class="page-arrow"
        [disabled]="currentPage === totalPages"
        (click)="goToPage(currentPage + 1)"
      >
        >
      </button>
    </div>
  </div>
</div>
