<div class="modal-overlay">
    <div class="modal-content">
      <!-- Close Button -->
     <button class="close-btn" (click)="closeModal()">✖</button> 
  
      <!-- Step 1: Enter Email -->
      <div *ngIf="step === 1">
        <h2>Réinitialiser votre mot de passe</h2>
        <p>Entrez votre adresse e-mail.</p>
        <div class="progress-indicator">
          <span class="step active">1</span>
          <span class="line"></span>
          <span class="step">2</span>
          <span class="line"></span>
          <span class="step">3</span>
        </div>
        <label for="email">Adresse e-mail</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" (focus)="emailNotFoundError = false ; emailFormatError = false ; emailEmptyError = false" required 
        >
        <div *ngIf="emailNotFoundError" class="error-message">
          E-mail non trouvé. Veuillez vérifier et réessayer.
        </div>
        <div *ngIf="emailFormatError" class="error-message">
          Veuillez utiliser une adresse e-mail valide
        </div>
        <div *ngIf="emailEmptyError" class="error-message">
          L'adresse e-mail est obligatoire
        </div>
        <button class="send-btn" (click)="resetPassword()">Envoyer</button>
      </div>
  
      <!-- Step 2: Enter Code -->
      <div *ngIf="step === 2">
        <h2>Réinitialiser votre mot de passe</h2>
        <p>Nous vous avons envoyé un code de vérification par e-mail. Veuillez le saisir ci-dessous.</p>
        <div class="progress-indicator">
          <span class="step">1</span>
          <span class="line"></span>
          <span class="step active">2</span>
          <span class="line"></span>
          <span class="step">3</span>
        </div>
        <label for="code">Code de vérification</label>
        <input id="code" type="text" [(ngModel)]="code" name="code" (focus)="clearErrorMessages()" required>
        <p class="error-message" *ngIf="invalidCodeError" >Le code de vérification est incorrect.</p>
        <p class="error-message" *ngIf="codeEmptyError" >Veuillez entrer votre code de vérification.</p>
  <p class="error-message" *ngIf="expiredCodeError">Le code de vérification a expiré. <a href="javascript:void(0)" (click)="regenerateOtpCode()"  class="regenerate-link">Envoyer un nouveau code.</a></p>
  <div *ngIf="isOtpRegenerated" class="successs-message">
    <p class="nouveauCode">Un nouveau code de vérification a été envoyé à votre adresse e-mail.</p>
  </div>
        <button class="send-btn" (click)="resetPassword()">Confirmer</button>
      </div>
  
      <!-- Step 3: Set New Password or Show Success -->
      <div *ngIf="step === 3">
        <!-- Set New Password Form (shown when !isSuccess) -->
        <div *ngIf="!isSuccess">
          <h2>Réinitialiser votre mot de passe</h2>
          <p>Entrez votre nouveau mot de passe. Le mot de passe doit contenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.</p>
          <div class="progress-indicator">
            <span class="step">1</span>
            <span class="line"></span>
            <span class="step">2</span>
            <span class="line"></span>
            <span class="step active">3</span>
          </div>
          <!-- For the "New Password" input -->
          <div class="password-wrapper">
            <input id="new-password" [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" name="newPassword" required autocomplete="new-password" inputmode="text" (focus)="mismatchError = false ; formatError = false ">
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility('newPassword')" [attr.aria-label]="showNewPassword ? 'Hide password' : 'Show password'">
              <svg *ngIf="!showNewPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" />
              </svg>
              <svg *ngIf="showNewPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
              </svg>
            </button>
          </div>
  
          <!-- For the "Confirm Password" input -->
          <div class="password-wrapper">
            <input id="confirm-password" [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" name="confirmPassword" required autocomplete="new-password" inputmode="text" (focus)="mismatchError = false ; formatError = false ">
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility('confirmPassword')" [attr.aria-label]="showConfirmPassword ? 'Hide password' : 'Show password'">
              <svg *ngIf="!showConfirmPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                <path d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" />
              </svg>
              <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                <path d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
              </svg>
            </button>
          </div>
  
          <!-- Error Messages -->
          <p class="error-message" *ngIf="mismatchError">Les mots de passe ne correspondent pas.</p>
          <p class="error-message" *ngIf="formatError">Le mot de passe doit contenir au moins 8 caractères, une majuscule, un chiffre et un caractère spécial.</p>
          <button class="send-btn" (click)="resetPassword()">Réinitialiser</button>
        </div>
  
        <!-- Success Message (shown when isSuccess) -->
        <div *ngIf="isSuccess">
          
          <div class="success-messagee">
            <span class="checkmark">✓</span>
            <p class="success">Votre mot de passe a été réinitialisé avec succès ! Vous pouvez maintenant vous connecter.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>